# Data Science Tools and Ecosystem

This notebook provides a summary of data science tools and ecosystems.

Some of the more popular languages used in data science includes:
- Python
- SQL
- R
- Julia

Here is a list of the most commonly used libraries:
- Python
    - NumPy
    - Pandas
    - Visualization 
        - matplotlib
    - Machine learning/deep learning
        - scikit-learn
        - tensorflow
- Apache Spark (data compute tool)

Data Science Tools

| Tools   | 
| -------- |
| Jupyter Notebooks  | 
| GitHub | 
| GitHub  | 
| Google Collaboratory |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.

x = 200
y = 60
z = x/y
print(z)

3.3333333333333335

**Objectives**
- Languages used in data science
- Libraries used in data science
- Tools used in data science
- Examples of doing math using Python

## Author
Mickey Mouse